<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drive.system.mapper.RoleDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.drive.system.pojo.entity.RoleDeptEntity">
        <id column="role_id" property="roleId" />
        <result column="dept_id" property="deptId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            role_id, dept_id
    </sql>

    <select id="getAllDept" resultType="com.drive.system.pojo.entity.RoleDeptEntity">
        SELECT
            t1.role_id,
        GROUP_CONCAT(t2.tenant_id) as tenantIds
        FROM
            sys_role_dept t1
        LEFT JOIN sys_dept t2 ON t2.dept_id = t1.dept_id
        GROUP BY t1.role_id
    </select>

</mapper>
