<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drive.admin.mapper.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.drive.admin.pojo.entity.AreaEntity">
        <id column="ba_code" property="baCode" />
        <result column="ba_name" property="baName" />
        <result column="ba_parent_id" property="baParentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            ba_code, ba_name, ba_parent_id
    </sql>


    <select id="findView" resultType="com.drive.admin.pojo.vo.ViewDataVo">
            select vbd.code as CODE, vbd.value as VALUE from v_base_data vbd

    </select>
</mapper>
