<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drive.admin.mapper.OneFeeSystemVipCoachMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.drive.admin.pojo.entity.OneFeeSystemVipCoachEntity">
        <id column="id" property="id" />
        <result column="coach_id" property="coachId" />
        <result column="join_time" property="joinTime" />
        <result column="stutas" property="stutas" />
        <result column="remarks" property="remarks" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="operator_id" property="operatorId" />
        <result column="expect_income_price" property="expectIncomePrice" />
        <result column="coach_charge_percent" property="coachChargePercent" />
        <result column="car_charge_percent" property="carChargePercent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, coach_id, join_time, stutas, remarks, is_delete, create_time, update_time, operator_id, expect_income_price, coach_charge_percent, car_charge_percent
    </sql>

</mapper>
