<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drive.admin.mapper.QuestionOptionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.drive.admin.pojo.entity.QuestionOptionsEntity">
        <id column="id" property="id" />
        <result column="question_bank_id" property="questionBankId" />
        <result column="question_option" property="questionOption" />
        <result column="option_content" property="optionContent" />
        <result column="is_right" property="isRight" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, question_bank_id, question_option, option_content, is_right, create_user, create_time, update_user, update_time
    </sql>

</mapper>
