<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drive.admin.mapper.ServiceInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.drive.admin.pojo.entity.ServiceInfoEntity">
        <id column="id" property="id" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="area_id" property="areaId" />
        <result column="drive_school_id" property="driveSchoolId" />
        <result column="phone" property="phone" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="real_name" property="realName" />
        <result column="id_card" property="idCard" />
        <result column="status" property="status" />
        <result column="head_url" property="headUrl" />
        <result column="recommend_user_id" property="recommendUserId" />
        <result column="recommend_code_self" property="recommendCodeSelf" />
        <result column="appraise_grade" property="appraiseGrade" />
        <result column="toke_key" property="tokeKey" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="service_type" property="serviceType" />
        <result column="operator_id" property="operatorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, province_id, city_id, area_id, drive_school_id, phone, password, sex, real_name, id_card, status, head_url, recommend_user_id, recommend_code_self, appraise_grade, toke_key, create_time, update_time, service_type, operator_id
    </sql>

</mapper>
