<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drive.basics.mapper.AppVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.drive.basics.pojo.entity.AppVersionEntity">
        <id column="id" property="id" />
        <result column="app_type" property="appType" />
        <result column="version_type" property="versionType" />
        <result column="version_name" property="versionName" />
        <result column="version" property="version" />
        <result column="is_must_update" property="isMustUpdate" />
        <result column="download_location" property="downloadLocation" />
        <result column="app_key" property="appKey" />
        <result column="version_explain" property="versionExplain" />
        <result column="download_count" property="downloadCount" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="publish_time" property="publishTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, app_type, version_type, version_name, version, is_must_update, download_location, app_key, version_explain, download_count, create_user, update_user, publish_time, create_time, update_time
    </sql>

</mapper>
