<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drive.basics.mapper.ChannelAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.drive.basics.pojo.entity.ChannelAuthEntity">
        <id column="channel_id" property="channelId" />
        <result column="user_id" property="userId" />
        <result column="tenant_id" property="tenantId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            channel_id, user_id, tenant_id, create_time, update_time, create_user
    </sql>

    <delete id="deleteCondition" parameterType="com.drive.basics.pojo.dto.ChannelAuthEditParam">
        DELETE FROM
            base_channel_auth
            WHERE
                (
                    user_id = #{userId}
                    AND channel_id = #{channelId}
                    AND tenant_id = #{tenantId}
                )
    </delete>

</mapper>
