package ${package.Controller};

import cn.afterturn.easypoi.excel.entity.ExportParams;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import lombok.SneakyThrows;
import lombok.extern.slf4j.Slf4j;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.web.bind.annotation.*;
import javax.servlet.http.HttpServletResponse;
import javax.validation.Valid;
import java.util.List;
import java.util.Arrays;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiOperation;
import com.drive.common.core.biz.R;
import com.drive.common.core.biz.ResObject;
import com.drive.common.core.enums.EventLogEnum;
import com.drive.common.data.utils.ExcelUtils;
import com.drive.common.log.annotation.EventLog;
import io.swagger.annotations.Api;
import ${cfg.BaseController};
import ${cfg.modulesPack}.pojo.entity.*;
import ${cfg.modulesPack}.pojo.vo.*;
import ${cfg.modulesPack}.pojo.dto.*;
import ${cfg.modulesPack}.service.mapstruct.*;
import ${cfg.modulesPack}.service.${entity}Service;
import ${cfg.modulesPack}.repository.${entity}Repository;
## 将变量首字母变小写，定义驼峰法变量名
#set($className = $!cfg.stringUtils.uncapitalize($!entity))

#foreach($field in ${table.fields})
#if(${field.keyFlag})
	#set($pkColumn = ${field})
#end
#end

/**
 * ${table.comment}管理
 *
 * @author ${author}
 */
@Api(tags = "${table.comment}管理")
@Slf4j
@RestController
@RequestMapping("/${className}")
public class ${entity}Controller extends BaseController<${entity}PageQueryParam, ${entity}Entity> {

	// ${table.comment} 服务
	@Autowired
	private ${entity}Service ${className}Service;
	// ${table.comment} 业务服务
	@Autowired
	private ${entity}Repository ${className}Repository;
	// ${table.comment} DO-DTO转化
	@Autowired
	private ${entity}MapStruct ${className}MapStruct;

	/**
	* ${table.comment} 分页列表
	*/
	@ApiOperation("${table.comment}分页列表")
	@PreAuthorize("hasPermission('/${cfg.moduleName}/${className}',  '${cfg.moduleName}:${className}:query')")
	@PostMapping(value = "/pageList")
	public ResObject pageList(@Valid @RequestBody ${entity}PageQueryParam param) {
		return ${className}Repository.pageList(param);
	}
	/**
	* ${table.comment} 列表
	*/
	@ApiOperation("${table.comment}列表")
	@PreAuthorize("hasPermission('/${cfg.moduleName}/${className}',  '${cfg.moduleName}:${className}:query')")
	@PostMapping(value = "/findList")
	public ResObject findList(@Valid @RequestBody ${entity}PageQueryParam param) {
		return ${className}Repository.findList(param);
	}

	/**
	* 获取${table.comment}
	*/
	@ApiOperation("获取${table.comment}")
	@ApiImplicitParam(name = "${pkColumn.propertyName}", required = true, dataType = "String", paramType = "path")
	@PreAuthorize("hasPermission('/${cfg.moduleName}/${className}',  '${cfg.moduleName}:${className}:query')")
	@GetMapping("/{${pkColumn.propertyName}}")
	public ResObject get(@PathVariable String ${pkColumn.propertyName}) {
		return ${className}Repository.getById(id);
	}

	/**
	 * 条件查询获取${table.comment}
	 */
	@ApiOperation("条件查询获取${table.comment}")
	@ApiImplicitParam(name = "${pkColumn.propertyName}", required = true, dataType = "String", paramType = "path")
	@PreAuthorize("hasPermission('/${cfg.moduleName}/${className}',  '${cfg.moduleName}:${className}:query')")
	@PostMapping("/getInfo")
	public ResObject getInfo(@RequestBody ${entity}PageQueryParam param) {
		return ${className}Repository.getInfo(param);
	}

	/**
	* 新增${table.comment}
	*/
	@ApiOperation("新增${table.comment}")
	@ApiImplicitParam(name = "${entity}EditParam ", value = "新增${table.comment}", dataType = "${entity}EditParam")
	@PreAuthorize("hasPermission('/${cfg.moduleName}/${className}',  '${cfg.moduleName}:${className}:add')")
	@EventLog(message = "新增${table.comment}", businessType = EventLogEnum.CREATE)
	@PostMapping
	public ResObject save(@Valid @RequestBody ${entity}InstallParam ${className}InstallParam) {
		return ${className}Repository.save(${className}InstallParam);
	}

	/**
	* 修改${table.comment}
	*/
	@ApiOperation("修改${table.comment}")
	@ApiImplicitParam(name = "${entity}EditParam ", value = "修改${table.comment}", dataType = "${entity}EditParam")
	@PreAuthorize("hasPermission('/${cfg.moduleName}/${className}',  '${cfg.moduleName}:${className}:edit')")
	@EventLog(message = "修改${table.comment}", businessType = EventLogEnum.UPDATE)
	@PutMapping
	public ResObject edit(@Valid @RequestBody ${entity}EditParam ${className}EditParam) {
		return ${className}Repository.update(${className}EditParam);
	}

	/**
	* 删除${table.comment}
	*/
	@ApiOperation("删除${table.comment}")
	@ApiImplicitParam(name = "${pkColumn.propertyName}", required = true, dataType = "Long", paramType = "path")
	@PreAuthorize("hasPermission('/${cfg.moduleName}/${className}',  '${cfg.moduleName}:${className}:delete')")
	@EventLog(message = "删除${table.comment}", businessType = EventLogEnum.DELETE)
	@DeleteMapping("/{${pkColumn.propertyName}s}")
	public ResObject delete(@PathVariable Long[] ${pkColumn.propertyName}s) {
		return R.toRes(${className}Service.removeByIds(Arrays.asList(${pkColumn.propertyName}s)));
	}

	/**
	* 通过主键删除${table.comment}
	*/
	@ApiOperation("通过主键删除${table.comment}")
	@ApiImplicitParam(name = "id", required = true, dataType = "Long", paramType = "path")
	@PreAuthorize("hasPermission('/admin/coachInfo',  'admin:coachInfo:delById')")
	@EventLog(message = "通过主键删除${table.comment}", businessType = EventLogEnum.DELETE)
	@DeleteMapping("/delById/{id}")
	public ResObject delete(@PathVariable String id) {
		return ${className}Repository.deleteById(id);
	}

	/**
	* 导出${table.comment}
	*/
	@ApiOperation("导出${table.comment}")
	@PreAuthorize("hasPermission('/${cfg.moduleName}/${className}',  '${cfg.moduleName}:${className}:export')")
	@SneakyThrows
	@EventLog(message = "导出${table.comment}", businessType = EventLogEnum.EXPORT)
	@PostMapping(value = "/exportXls")
	public void exportXls(@RequestBody ${entity}PageQueryParam param, HttpServletResponse response) {
		${className}Repository.exportXls(param,response);
	}


	/**
	* 状态启用/停用
	*/
	@ApiOperation("状态启用/停用${table.comment}")
	@PreAuthorize("hasPermission('/${cfg.moduleName}/${className}',  '${cfg.moduleName}:${className}:changeStatus')")
	@SneakyThrows
	@EventLog(message = "状态启用/停用${table.comment}", businessType = EventLogEnum.EXPORT)
	@PostMapping("/changeStatus")
	public ResObject changeStatus(@Valid @RequestBody ${entity}EditParam ${className}EditParam) {
		return ${className}Repository.changeStatus(${className}EditParam);
	}

}
