package ${cfg.modulesPack}.pojo.dto;

import io.swagger.annotations.ApiModelProperty;
import java.time.LocalDateTime;
import ${cfg.BasePageQueryParam};
import lombok.Data;
import lombok.EqualsAndHashCode;
import java.math.BigDecimal;
import java.time.LocalDate;
import java.time.LocalDateTime;

/**
 * $!{table.comment}
 *
 * @author ${author}
 */
@EqualsAndHashCode(callSuper = false)
@Data
public class ${entity}PageQueryParam extends BasePageQueryParam {

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

#if("$!field.comment" != "")
	// ${field.comment}
#end
	@ApiModelProperty(value = "${field.comment}")
	private ${field.propertyType} ${field.propertyName};
	// 模糊查询字段
#end
	//private String vagueNameSearch
## ----------  END 字段循环遍历  ----------

}