package ${cfg.modulesPack}.repository;

import ${cfg.modulesPack}.pojo.dto.*;
import com.drive.common.core.base.BaseRepository;

/**
 *
 * $!{table.comment} 服务类
 *
 * @author ${author}
 */
public interface ${entity}Repository extends BasicsRepository<${entity}PageQueryParam, ${entity}EditParam,${entity}InstallParam>{
}

